:root { 
--gray_600:#7f8781; 
--white_A700_99:#ffffff99; 
--black_900:#050505; 
--white_A700_a2:#ffffffa2; 
--gray_800:#3e3e3e; 
--gray_900:#181818; 
--deep_orange_200:#f3ae9f; 
--blue_gray_900:#2e2e2e; 
--white_A700:#ffffff; 
}